{% extends "layout.html" %}

{% block title %}
Regular items
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        <li>{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="table w-auto p-3">
    <table class="table align-middle mb-0 bg-white caption-top">
        <caption>
            <div class="row">
                <div class="col-5">
                    <h4>List of items</h4>
                </div>
            </div>
        </caption>
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>State</th>
                <th>Added</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for item in regular_items.items %}
            <tr>
                <td>
                    <p class="fs-5">{{item.name}}</p>
                </td>
                <td>
                    <p class="fs-6">{{item.description}}</p>
                </td>
                <td>
                    <p class="fs-6">{{item.state}}</p>
                </td>
                <td>
                    <p class="fs-6">{{item.inserted_at}}</p>
                </td>
                <td>
                    <a href="{{ url_for('to_do_items.regular_item_profile', id=item.id) }}"
                        class="btn btn-warning">Modify</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination mt-3">
        <ul class="pagination">
            {% if regular_items.has_prev %}
            <li class="page-item">
                <a class='page-link' href="{{ url_for('to_do_items.list_regulars', page=regular_items.prev_num) }}">
                    {{ '<<<' }} </a>
            </li>
            {% endif %}

            {% for number in regular_items.iter_pages() %}
            {% if regular_items.page != number %}
            <li class="page-item">
                <a class='page-link' href="{{ url_for('to_do_items.list_regulars', page=number) }}">
                    {{ number }}
                </a>
            </li>
            {% else %}
            <li class="page-item active">
                <span class='page-link'>{{ number }}</span>
            </li>
            {% endif %}
            {% endfor %}

            {% if regular_items.has_next %}
            <li class="page-item">
                <a class='page-link' href="{{ url_for('to_do_items.list_regulars', page=regular_items.next_num) }}">
                    {{ '>>>' }}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}