* {
	font-family: "Roboto", Courier, monospace;
}

.data-table {
	width: 100%;
	margin-top: 3px;
	border-collapse: collapse;
}

.data-table th,
.data-table td {
	padding: 10px;
	text-align: center;
}

.data-table th {
	background-color: #000000;
	color: white;
}

.data-table tr {
	line-height: 150%;
}

.data-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.data-table tr:hover {
	background-color: #ddd;
}

.data-table td:first-child {
	text-align: center;
	font-weight: bold;
	width: 3%;
}

.data-table td:last-child {
	text-align: center;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination button,
.pagination span {
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: large;
}

.pagination span {
	font-weight: bold;
}
