{% extends "layout.html" %}
{% block title %}
Add recurring item
{%endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        <li>{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="card">
    <h5 class="card-header">Add recurring item</h5>
    <div class="card-body">
        <form method="POST" action="{{ url_for('to_do_items.add_recurring')}}">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="nombre">Name</label>
                        <input type="text" id="name" name="name" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="categoria">Description</label>
                        <input type="text" id="description" name="description" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="categoria">Priority</label>
                        <select class="form-control select-input" id="priority" name="priority" required>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Accept</button>
        </form>
    </div>
</div>
{% endblock %}