{% extends "layout.html" %} {% block title %} Frecuent tasks {% endblock %} {% block head %} {{
super() }} {% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if
messages %}
<ul class="flashes">
	{% for message in messages %}
	<div class="alert alert-warning" role="alert">
		<li>{{ message }}</li>
	</div>
	{% endfor %}
</ul>
{% endif %} {% endwith %}
<div class="btn-group">
	<button
		type="button"
		class="btn btn-primary dropdown-toggle"
		data-bs-toggle="dropdown"
		aria-expanded="false"
	>
		Select category
	</button>
	<ul class="dropdown-menu">
		{% for category in categories %}
		<li>
			<a
				class="dropdown-item"
				href="{{ url_for('frecuent_tasks.list_all', category=category.name) }}"
				>{{category.name}}</a
			>
		</li>
		{% endfor %}
	</ul>
</div>
<table class="data-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Frecuency</th>
			<th>Last completed</th>
			<th>Date added</th>
			<th>Modify</th>
		</tr>
	</thead>
	<tbody>
		{% for item in tasks.items %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.description}}</td>
			<td>{{item.category.name}}</td>
			<td>{{item.frecuency}}</td>
			<td>{{item.last_completed}}</td>
			<td>{{item.date_added}}</td>
			<td><a href="{{ url_for('frecuent_tasks.update_task', id=item.id) }}">Modify</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="pagination mt-3">
	<ul class="pagination">
		{% if tasks.has_prev %}
		<li class="page-item">
			<a
				class="page-link"
				href="{{ url_for('frecuent_tasks.list_all', page=tasks.prev_num) }}"
			>
				{{ '<<<' }}
			</a>
		</li>
		{% endif %} {% for number in tasks.iter_pages() %} {% if tasks.page != number %}
		<li class="page-item">
			<a class="page-link" href="{{ url_for('frecuent_tasks.list_all', page=number) }}">
				{{ number }}
			</a>
		</li>
		{% else %}
		<li class="page-item active">
			<span class="page-link">{{ number }}</span>
		</li>
		{% endif %} {% endfor %} {% if tasks.has_next %}
		<li class="page-item">
			<a
				class="page-link"
				href="{{ url_for('frecuent_tasks.list_all', page=tasks.next_num) }}"
			>
				{{ '>>>' }}
			</a>
		</li>
		{% endif %}
	</ul>
</div>
<a href="{{ url_for('frecuent_tasks.create_task') }}" class="btn btn-primary" role="button"
	>Add frecuent task</a
>

{% endblock %}
